body {
  margin: 0;
  background-image: url("fundo.jpg");
}

.secao {
  padding: 10px 20px;
  color: rgb(201, 201, 201);
}

.secao-topo {
  background-color: #0078f2;
  text-align: center;
  padding: 10px 20px;
}

img {
  width: 100%;
}

p {
  line-height: 28px;
  font-size: 18px;
}

span {
  font-weight: bold;
}

.box-compra {
  margin: 0 auto;
  border: 1px solid #fff;
  width: 350px;
  padding: 20px 20px;
  text-align: center;
}

h1 {
  text-align: center;
  color: chartreuse;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  background-color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
}

.box-compra p {
  font-weight: bold;
  color: chartreuse;
}

.paragrafo {
  color: #fff;
}

.texto-verde {
  color: chartreuse;
}
.paragrafo-topo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
}

a:hover {
  background-color: chartreuse;
  color: #000;
  transition: 0.3s;
}
